*{
    margin: 0;
    padding: 0;
}

body{
    background-color:#97d7e2;
    background-image: url('../assets/backgrounds/mainBackground.jpg');
    background-size: cover;
}

@media screen and (max-width: 960px) {
    body {
        background-color:#97d7e2;
        background-image: url('../assets/backgrounds/mobileBackground.jpg');
        background-size: cover; 
    }
}

@media screen and (max-width: 450px) {
    body {
        background-color:#97d7e2;
        background-image: url('../assets/backgrounds/iphoneXBackground.jpg');
        background-size: cover; 
    }
}

