
table.small1{
    width: 36vw;
    height: 40vh;
    margin: auto;
}

button{
    border: none;
    background: rgba(0, 109, 252, 0.5);
    padding: 12px;
    color: beige;
    font-weight: bold;
    border-radius: 10%;
    width: 75%;
    font-family: "Cairo", sans-serif;
    line-height: 120%;
}

.item{
    text-align: center;
    color:white;
    font-weight: bold;
    height: 5vh;
    position: block;
    width: 12vw;
}

h1{
    text-align: center;
    padding: 1vh;
    color: rgb(0, 0, 0);
    opacity: 0.8;
    font-size: calc(22px + 2vmin);
}
