.allVideos{
    margin-left: 22vw;
    margin-top: 20px;
}

.video {
    margin: 20px 0px;
}

.videoList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.heading{
    width: 75vw;
    color: #073f51;
    text-align: center;
    margin: 8px auto;
    font-size: calc(20px + 2vmin);
}

@media screen and (max-width: 960px){
    .heading{
        width: 75vw;
        color: #073f51;
        text-align: center;
        margin: 8px auto;
        font-size: calc(14px + 2vmin);
    }
}

