.HeightWeightTable{ 
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    font-size: 1.5em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

tr{
    color: #000000;
    text-align: left;
    border-bottom: 1px solid #dddddd;
}

th{
    padding: 12px 15px;
    background-color: #009879;
}

td{
    background-color: purple;
}

.TableHeading{
    font-size: xx-large;
    color: rgb(216, 253, 4);
    text-align: center;
    margin-top: 2%;
}


.TableButton{
    border: none;
    background: rgba(0, 109, 252, 0.5);
    padding: 12px;
    color: beige;
    font-weight: bold;
    border-radius: 10%;
    width: 75%;
    font-family: "Cairo", sans-serif;
    line-height: 120%;
}


.item{
    text-align: center;
    color:white;
    font-weight: bold;
    height: 5vh;
    position: block;
    width: 12vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

