.login {
    font-family: "Cairo", sans-serif;
  } 

.form_L {
    margin: 15vh auto;
    width: 30vw;
    height: 75vh;
    background: rgb(189, 237, 255, 0.5);
    border-radius: 10%;
}

.input_L {
    display: block;
    margin: 3vh auto;
    width: 15vw;
    padding: 2vh;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    font-family: "Cairo", sans-serif;
}

.inputLabel{
    color: #073f51;
    /*border: 1px solid red;*/
    /* padding: 0 11vw;
    margin-top: 0;
    margin-bottom: 0; */
    display: block;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

#username{
    margin-bottom: 0;
}

#dob{
    margin-top: 0;
    margin-bottom: 0;
}

.button_L {
    display: block;
    margin: 4vh auto 4vh auto;
    width: 9vw;
    padding: 0.8vh;
    font-weight: bold;
    color: white;
    background-color: rgb(7, 63, 81);
    border: none;
    border-radius: 5px;
    font-family: "Cairo", sans-serif;
    font-size: 14px;
}

.button_L:hover {
    color: lightgrey;
}

.heading_L {
    text-align: center;
    padding: 3vh 0 1vh 0;
    color: #073f51;
    font-size: calc(24px + 2vmin);
}

.btnContainer {
    width: 30vw;
    margin: auto;
    /*padding: 24px 0;*/
    /* border: 1px solid red; */
    background: rgb(189, 237, 255, 0.5);
    border-radius: 10%;
    padding-bottom: 20px;
}

.text_L {
    text-align: center;
    color: #073f51;
    font-weight: bold;
    border: 1px solid rgb(167, 175, 177);
    background:rgb(167, 175, 177, 0.5);
    width: 20vw;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
}

#span_L {
    background-color: #073f51;
    color: white;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin-left: 10px;
    padding: 3px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 400ms ease-in-out;
    font-size: 16px;
}

#span_L:hover {
    color: lightgrey;
}

.errorMsg_L {
    color: #073f51;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    width: 22vw;
    margin: 0 auto;
}

@media screen and (max-width: 960px) {
    .form_L {
        margin: 15vh auto;
        width: 50vw;
        height: 75vh;
        background: rgb(189, 237, 255, 0.5);
        border-radius: 10%;
    }

    .btnContainer {
        width: 50vw;
        margin: auto;
        /*padding: 24px 0;*/
        /* border: 1px solid red; */
        background: rgb(189, 237, 255, 0.5);
        border-radius: 10%;
        padding-bottom: 20px;
    }

    .input_L {
        display: block;
        margin: 3vh auto;
        width: 25vw;
        padding: 2vh;
        font-weight: bold;
        border: none;
        border-radius: 6px;
        font-family: "Cairo", sans-serif;
    }
    .errorMsg_L {
        color: #073f51;
        font-size: 14px;
        text-align: center;
        font-weight: bold;
        width: 50vw;
    }
    .submit_L {
        display: block;
        margin: 6vh auto;
        width: 14vw;
        padding: 0.8vh;
        font-weight: bold;
        color: white;
        background-color: rgb(7, 63, 81);
        border: none;
        border-radius: 5px;
        font-family: "Cairo", sans-serif;
    }

    .text_L {
        text-align: center;
        color: #073f51;
        font-weight: bold;
        border: 2px solid rgb(167, 175, 177);
        width: 30vw;
        margin: auto;
        padding: 10px;
        border-radius: 10px;
    }
}