.form3{
    margin: 5vh auto;
    width: 25vw;
    height: 85vh;
    /*background: rgb(224, 255, 255, 0.5);*/
    background: rgb(189, 237, 255, 0.3);
    border-radius: 10%;
}

.input3{
    display: block;
    margin: 3vh auto;
    width: 17vw;
    padding: 2vh;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    font-family: "Cairo", sans-serif;
}

.heading3{
    text-align: center;
    padding: 2vh;
    color:#073f51;
    font-size: calc(24px + 2vmin);
}

.submit3{
    display: block;
    margin: 4vh auto;
    width: 9vw;
    padding: 0.8vh;
    font-weight: bold;
    color: white;
    background-color: rgb(7, 63, 81);
    border: none;
    border-radius: 5px;
    font-family: "Cairo", sans-serif;
}

@media screen and (max-width: 960px) {
    .form3{
        margin: 5vh auto;
        width: 50vw;
        height: 85vh;
        /*background: rgb(224, 255, 255, 0.5);*/
        background: rgb(189, 237, 255, 0.3);
        border-radius: 10%;
    }

    .input3{
        display: block;
        margin: 3vh auto;
        width: 25vw;
        padding: 2vh;
        font-weight: bold;
        border: none;
        border-radius: 6px;
        font-family: "Cairo", sans-serif;
    }

    .submit3{
        display: block;
        margin: 4vh auto;
        width: 14vw;
        padding: 0.8vh;
        font-weight: bold;
        color: white;
        background-color: rgb(7, 63, 81);
        border: none;
        border-radius: 5px;
        font-family: "Cairo", sans-serif;
    }

}